*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 10vh;
    background: linear-gradient(
        to bottom,
        #c3dffb 50%,
        #010101 50%
    );
}
.clock{
    background: #dfee43;
    height: 320px;
    width: 320px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-sizing: content-box;
    border-radius: 50%;
    border: 15px solid #022c70;
    box-shadow: 15px 15px 35px rgba(235, 77, 77, 0.2),
    inset 0 0 30px rgba(0,0,0,0.4);
}
img{
    position: relative;
}
.hand{
    position: absolute;
    background-color: #150591;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}
.hour{
    height: 60px;
    width: 10px;
    top: 100px;
}
.minute{
    height: 80px;
    width: 5px;
    top: 80px;
}
.seconds{
    height: 90px;
    width: 3px;
    top: 70px;
    background-color: #000000;
}